.reset {
    width: 100%;
    min-height: 100vh;
    background: rgba(246, 246, 246, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset_container {
    width: 500px;
    height: fit-content;
    background: #FFF;
    border-radius: 20px;
    padding: 35px 50px;
}

.reset_container .title {
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.reset_container .title p {
    width: 30%;
    font-size: 28px;
    color: #7E98DF;
    justify-self: left;
    font-weight: 600;
    margin: 0;
}

.reset_container .title p a {
    cursor: pointer;
}

.reset_container .title h1 {
    width: 70%;
    color: #7E98DF;
    font-weight: 500;
    font-size: 22px;
    /* text-align: center; */
    letter-spacing: -0.165px;
}

.reset_container h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #232323;
}

.forms {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.reset_container .forms input {
    border: none;
    border-radius: 0px;
    padding-left: 0;
    border-bottom: 3px solid gray;
    padding-bottom: 10px;
    padding-top: 5px;
}

.forms input:focus {
    outline: none;
}

.forms a {
    color: #7E98DF;
    font-size: 16px;
    text-align: end;
}

.forms a:hover {
    color: #39B3CA;
}

.forms button {
    background: #7E98DF;
    border: none;
    border-radius: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
    transition: 0.2s ease-in-out;
}

.forms button:hover {
    background: #2675EC;
}


@media only screen and (max-width: 600px) {
    .reset_container {
        width: 100%;
        min-height: 100vh;
        border-radius: 0px;
        padding: 5px 35px;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
    }

}